/* typography */
$default: Arial, Helvetica, sans-serif;
$robot: "Roboto", Arial, Sans-serif;
$open-sans: "Open Sans", Arial, Sans-serif;
$proxima-nova: "proxima-nova", Arial, Sans-serif;
$ff-din-web: "ff-din-web", arial, sans-serif;